@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Girassol', cursive;
    background-image: url(https://www.fda.gov/files/covid19-1600x900.jpg);
    background-size: cover;
    text-align: center;
}
h1{
   font-size: 50px;
   margin-top: 20px;
    color: red;
}
label{
    font-size: 20px;
}
form{
    background-color: cornflowerblue;
    margin: 2% 10%;
    padding: 50px;
    opacity: 0.8;
    border-radius: 20px;
}

#button{
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}